body {
    font-family: "Calibri", sans-serif;
    background-color: white;
    min-height: 100vh;
}

.header h1 {
    font-size: 40px;
}

.content h2 {
    font-size: 25px;
}

.header {
    padding: 20px;
    text-align: center;
    background-color: white;
}

.content {
    text-align: left;
    background-color: white;
    max-width: 1150px;
    margin: auto;
    font-size: 17px;
}

.content p {
    font-weight: bold;
}

.project_images {
    display: block;
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #000000E6;
    color: white;
    font-size: 19px;
    position: relative;
    justify-content: center;
}

.links_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links {
    padding: 10px;
}

.nav_bar {
    margin: 0;
    padding: 0;
}
.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: relative;
    background-color: #000000E6;
}

.active {
    background-color: #28558d;
    color: white;
}

.inactive {
    color: white;
}

.nav_bar a {
    display: block;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
}